body {
    /*background-color: lavender;*/
    background-image: url("fundo.png");
  }
  
  h1 {
    color: blue;
    background-color: lightblue;
    opacity: 0.3;
    border: 2px solid black;
  }
  /*CLASS*/
  .center {
    text-align: center;
 }
  .font-verde {
        color: blue;
        border-style: dotted;
        border-width: 5px 
  }
  /*ID*/
  #para
     {
       font-family: verdana;
    font-size: 20px;
  }

  /*um salve pra quem faz t.i nesse notebook véio*/