body {
    background-color: lavender;
  }
  
  h1 {
    color: purple;
    background-color: plum;
    opacity: 0.3;
    border: 2px solid black;
  }
  /*CLASS*/
  .center {
    text-align: center;
 }
  .font-verde {
        color: purple; 
  }
  /*ID*/
  #para
     {
       font-family: verdana;
    font-size: 20px;
  }

  /*um salve pra quem faz t.i nesse notebook véio*/